.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rdata
*_cache/
*_files/
*.html
*.pdf
*.zip
*.Rmd
*.png
*.csv
*.xls
*.xlsx
*.rds
*.txt
*.gz
*.log
*.fasta
*.out
*.biom
*.tsv
*_Model_Summary/
*_plots/
archive/
*/data/
CAARS/
fastqc/
logs/
deplete/
enrich/
mix/
logs/
plaque_assembly/
saliva_assembly/
*.sra
maaslin2_output/

