.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rdata
*_cache/
*_files/
*.html
*.pdf
*.zip
*.Rmd
*.csv
*.xls
*.xlsx
*.rds
*.txt
*.gz
*.fasta
*.out
*.biom
*.tsv
*_Model_Summary/
*_plots/
archived_GLMM/
*/data/
CAARS/
fastqc/
logs/
deplete/
enrich/
mix/
logs/


